$color_purple: #9f83c9;
$color_darkpurple: #8d5ca9;
$color_yellow: #FFD02E;
$color_black: #010101;
$color_white: whitesmoke;
$color_lightgray1: #cecece;
$color_lightgray2: #ADADAD;
$color_lightgray3: #A6A6A6;
$color_darkgray1: #707070;
$color_darkgray2: #373737;
$color_darkgray3: #2A2A2A;


