.slide {
    position: absolute;
    top: 200px;

    p {
       display: none;
    }

    @media (min-width: $tablet-min) {
        top: 240px;
        

        div {
            text-align: center;
        }

        &__img {
            width: 700px;
            height: 458px;
            border-radius: 10px;
            border: $color_white;
        }

        p {
            margin: 30px 410PX;
            display: block;
            opacity: .6;
        }
    } 

    @media (min-width: $desktop) {}

}